<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Aromatica</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css?v=3.4">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- Add jQuery library -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>


    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container justify-content-center col-md-3 col-lg-12 col-sm-6 ">
            <div class="header-wrap d-flex justify-content-between">
                <div class="logo logo-width-1">
                    <a href="/"><h2>Aromatica</h2></a>
                </div>
    
                <div class="main-menu main-menu-padding-1 main-menu-lh-2 ">
                    <nav>
                        <ul class="d-flex mr-100">
                            <li><a href="/">Home</a></li>
                            <li><a href="page-about.html">About</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="page-contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
    
            
                        <div class="header-action-icon-2">
                            
                            <% if (locals.user) { %>
                                <!-- Displayed when the user is logged in -->
                                <div class="dropdown nav-item">
                                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                        <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/user-profile.svg" style="height: 25px; width: 25px; margin-top: 2px;">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                        <a class="dropdown-item" href="/profile"><i class="material-icons md-perm_identity"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i> Logout</a>
                                    </div>
                                </div>
                            <% } else { %>
                                <!-- Displayed when the user is not logged in -->
                                <div class="single-mobile-header-info ml-25 pr-5">
                                    <a href="/login">Login</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    


        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center">

                             <div class="col-lg-1"></div>

                             <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30 text-center">Create an Account</h3>
                                        </div>
                                        <% if(locals.message && locals.message.length > 0){ %>
                                            <p id="alertMessage" class="text-danger text-center"><%= locals.message %></p>
                                      <% } %>
                                    
                                        <form method="post" action="/signup" id="signup-form" onsubmit=" return validation()">
                                            <div class="form-group">
                                                <input type="text" required="" name="name" id="name" placeholder="Name">
                                            </div>
                                            <span class="text-danger" id="nameError"></span> 
                                            
                                            <div class="form-group">
                                                <input type="text" required="" name="email" id="email" placeholder="Email">
                                            </div>
                                            <span class="text-danger" id="emailError"></span> 

                                            <div class="form-group">
                                                <input required="" type="number" name="mobile" id="mobile" placeholder="Mobile">
                                            </div>
                                            <span class="text-danger" id="mobileError"></span>

                                            <div class="form-group">
                                                <input required="" type="password" name="password" id="password" placeholder="Password">
                                            </div>
                                            <span class="text-danger" id="passwordError"></span>

                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="">
                                                        <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                                    </div>
                                                </div>
                                                <a href="page-privacy-policy.html"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a>
                                            </div>
                                           
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up " id="button" name="login">Submit</button>
                                            </div>
                                           
                                        </form>
                                        <!-- <div class="divider-text-center mt-15 mb-15">
                                            <span> or</span>
                                        </div>
                                        <ul class="btn-login list_none text-center mb-15">
                                            <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                                            <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                                        </ul> -->
                                        <div class="text-muted text-center">Already have an account? <a href="/login">Login now</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <!-- Logo and Contact Info Column -->
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated pt-15">
                                <a href="index.html"><h3>Aromatica</h3></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
        
                    <!-- About Column -->
                    <div class="col-lg-2 col-md-3 ">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
        
                    <!-- My Account Column -->
                    <div class="col-lg-6 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer Bottom -->
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand"></strong>-Ecommerce Services </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="/" target="_blank">Aromatica.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
        </footer>
        

    
    <!-- Preloader Start -->


    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const alertMessage = document.getElementById("alertMessage");

        if(alertMessage){
            setTimeout(() => {
                alertMessage.style.display = "none"
            },5000)
        }
        function validation(){
        console.log("1");
                          
        const signupForm = document.getElementById("signup-form");

        let nameInput = document.getElementById("name").value
        let emailInput = document.getElementById("email").value
        let mobileInput = document.getElementById("mobile").value
        let passwordInput = document.getElementById("password").value

        let nameRegex = /^[a-zA-Z_]+$/;
        let emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        let mobileRegex = /^\d{10}$/;
        let passwordRegex = /^.{6,}$/



        
            // validation for name
            if(nameInput === "" || nameInput === null){

                document.getElementById("nameError").innerHTML = "Name required"
                return false
                
            }else if(!nameRegex.test(nameInput)){

               document.getElementById("nameError").innerHTML = "Invalid name"
               return false
               
            }else{
                document.getElementById("nameError").innerHTML = ""
            }



            // validation for email
            if(emailInput.trim() === "" || emailInput === null){

                document.getElementById("emailError").innerHTML = "Email required"
                return false;
            }
            else if(!emailRegex.test(emailInput)){

                document.getElementById("emailError").innerHTML = "Invalid email"
                return false;
            }
            else{
                document.getElementById("emailError").innerHTML = ""
            }



            // validation for mobile
            if(mobileInput.trim() === "" || mobileInput === null){

                document.getElementById("mobileError").innerHTML = "Mobile number is required"
                return false;
            }
            else if(!mobileRegex.test(mobileInput)){

                document.getElementById("mobileError").innerHTML = "Invalid mobile number"
                return false;
            }
            else{
                document.getElementById("mobileError").innerHTML = ""
            }




            // validation for password
            if(passwordInput.trim() === "" || passwordInput === null){

                document.getElementById("passwordError").innerHTML = "Password is required"
                return false;
            }
            else if(passwordRegex.test(passwordInput)){

            document.getElementById("passwordError").innerHTML = "Invalid password"
            setTimeout(() => {
                document.getElementById("passwordError").innerHTML = "Enter maximum 6 letters"
            },1000)
                return false;

            }
            else{
                document.getElementById("passwordError").innerHTML = ""
            }
        
            return true


        }
        
        

    </script>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="./assets/js/main.js?v=3.4"></script>
</body>

</html>